

@media screen and (min-width: 1000px) and (max-width: 1155px) {

    .right-side-image img {
        width: 50%;
    }

    form input, form button {
        width: 95%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    main {
        flex-direction: column;
    }

    .left-content {
        width: 100%;
        justify-content: center;
    }

    .content {
        margin: 0;
        text-align: center;
    }

    .content button {
        display: none;
    }

    .right-content {
        display: none;
    }

    .assuntos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .assunto {
        margin: 0 auto;
    }

    .left-side {
        width: 100%;
        justify-content: center;
    }

    .left-side-text {
        text-align: center;
    }

    .left-side-text h3 {
        margin-top: 5px;
    }

    .left-side-text button {
        margin-bottom: 15px;
    }

    .right-side {
        display: none;
    }

    form {
        width: 100%;
    }

    form input, form button {
        width: 60%;
    }

}

@media screen and (min-width: 500px) and (max-width: 768px) {

    .left-content {
        width: 100%;
        justify-content: center;
    }

    .content {
        margin: 0;
        text-align: center;
    }

    .right-content {
        display: none;
    }

    .assuntos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .assunto {
        margin: 0 auto;
    }

    .left-side {
        width: 100%;
        justify-content: center;
    }

    .left-side-text {
        text-align: center;
    }

    .left-side-text h3 {
        margin-top: 4px;
    }

    .left-side-text button {
        margin-bottom: 15px;
    }

    .right-side {
        display: none;
    }

    form {
        width: 100%;
    }

    form input {
        width: 65%;
    }

    form button {
        width: 65%;
    }
}

@media screen and (max-width: 500px) {

    /* === main === */

    main {
        flex-direction: column;
    }

    .left-content {
        width: 100%;
        justify-content: center;
    }

    .content {
        margin: 0;
        text-align: center;
    }

    .content button {
        display: none;
    }

    .right-content {
        display: none;
    }

    /* === section assuntos abordados ===*/

    .container-assuntos h3 {
        text-align: center;
    }

    .assuntos {
        flex-direction: column;
    }

    /* === section fazer parte ===*/

    .left-side {
        width: 100%;
        justify-content: center;
    }

    .left-side-text {
        text-align: center;
    }

    .left-side-text button {
        margin-bottom: 15px;
    }

    .right-side {
        display: none;
    }

    /* === section form ===*/

    form {
        width: 100%;
    }

    form input {
        width: 90%;
    }

    form button {
        width: 90%;
    }
    
}

@media screen and (max-width: 400px) {

    .content {
        padding: 10px;
    }

    .content h2:nth-child(1) {
        font-size: 1.2em;
    }

    .content h2:nth-child(2) {
        font-size: 2.5em;
    }

    .left-side-text h3 {
        font-size: 1.7em;
    }

    .left-side-text button {
        width: 200px;
    }
    
    .form-container {
        padding: 10px;
    }

    .form-container h3 {
        font-size: 1.7em;
    }

    .footer-social-media h4 {
        text-align: center;
    }

    form input {
        width: 100%;
    }

    form button {
        width: 100%;
    }
}